.profileScreen {
  height: 100vh;

  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info > img {
  height: 100px;
}
.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__renewal {
  font-size: 15px;
  color: grey;
  padding: 20px 0px;
}
.profileScreen__plan {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 40px;
  align-items: center;
}
.profileScreen__plan--text {
  font-size: 14px;
  color: gray;
}
.profileScreen__plan--button {
  padding: 10px 20px;
  font-size: 1rem;

  width: 10rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.profileScreen__plan--button--current {
  padding: 10px 20px;
  font-size: 1rem;

  width: 35%;
  color: #fff;
  background-color: gray;
  border: none;
  cursor: not-allowed;
  font-weight: 600;
}
.profileScreen__plan:hover > .profileScreen__plan--text {
  color: #fff;
}
.profileScreen__plan:hover > .profileScreen__plan--button {
  background-color: #c2040e;
}
